<section class="gradient-form h-full bg-neutral-200">
  <div class="container h-full p-10">
    <div class="g-6 flex h-full flex-wrap items-center justify-center text-neutral-800">
      <div class="w-full">
        <div class="block rounded-lg bg-gray-900 shadow-lg ">
          <div class="g-0 lg:flex lg:flex-wrap">
            <!-- Left column container-->
            <div class="px-4 md:px-0 lg:w-6/12">
              <div class="md:mx-6 md:p-12">
                <div class="text-center">
                  <h4 class="mb-12 mt-1 pb-1 text-xl font-semibold text-white pt-6">
                    Join our green community
                  </h4>
                </div>
                <form action="/auth/signup" method="POST">
                  <p class="mb-4 text-white">Let's start creating your account</p>
                  <!--User info input-->
                  <div class="relative mb-4" data-te-input-wrapper-init>
                    <input type="text"
                      class="peer block min-h-[auto] w-full rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 motion-reduce:transition-none:placeholder:opacity-0 text-white"
                      id="firstName" placeholder="First Name" name="firstName" />
                  </div>
                  <div class="relative mb-4" data-te-input-wrapper-init>
                    <input type="text"
                      class="peer block min-h-[auto] w-full rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 motion-reduce:transition-none:placeholder:opacity-0 text-white"
                      id="lastName" placeholder="Last Name" name="lastName" />
                  </div>
                  <div class="relative mb-4" data-te-input-wrapper-init>
                    <input type="email"
                      class="peer block min-h-[auto] w-full rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 motion-reduce:transition-none:placeholder:opacity-0 text-white"
                      id="email" placeholder="Email" name="email" />
                  </div>
                  <!--Password input-->
                  <div class="relative mb-4" data-te-input-wrapper-init>
                    <input type="password"
                      class="peer block min-h-[auto] w-full rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 motion-reduce:transition-none:placeholder:opacity-0 text-white"
                      id="password" placeholder="Password" name="password" />
                  </div>
                  <div class="relative mb-4" data-te-input-wrapper-init>
                    <input type="password"
                      class="peer block min-h-[auto] w-full rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 motion-reduce:transition-none:placeholder:opacity-0 text-white"
                      id="password2" placeholder="Repeat Password" name="password2" />
                  </div>
                  <!--Submit button-->
                  <div class="mb-12 pb-1 pt-1 text-center">
                    {{#if errorMessage}}
                    <p class="error bg-red-900 text-white">{{errorMessage}}</p>
                    <br>
                    {{/if}}
                    <button type="submit"
                      class="mb-3 inline-block w-full rounded px-6 pb-2 pt-2.5 text-xs font-bold uppercase leading-normal text-black"
                      type="button" data-te-ripple-init data-te-ripple-color="light" style="background: #ffc000">
                      Create account
                    </button>
                  </div>
                  <!--Register button-->
                  <div class="flex items-center justify-between pb-6">
                  </div>
                </form>
              </div>
            </div>
            <!-- Right column container with background and description-->
            <div class="flex items-center rounded-b-lg lg:w-6/12 lg:rounded-r-lg lg:rounded-bl-none"
              style="background: white">
              <div class="px-4 py-6 text-black md:mx-6 md:p-12">
                <img class="mx-auto w-48" src="/images/logo-full-size.png" alt="logo" />
                <h4 class="mb-6 text-xl font-semibold text-center">
                  We are more than just a company
                </h4>
                <p class="text-sm text-center">
                  Technically, we are not even a company. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                  dolore magna aliqua. Ut enim ad minim veniam, quis
                  nostrud exercitation ullamco laboris nisi ut aliquip ex
                  ea commodo consequat.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>