<h1>{{appTitle}} 🚀</h1>
{{#each plants}}
<section>
	<h2>{{common_name}}</h2>
	<p>
		<a href="/{{this.id}}">More details</a>
	</p>

	<img src="{{image_url}}" alt="" class="small-preview">

</section>
{{/each}}