<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <link rel="stylesheet" href="/stylesheets/output.css">
    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
        <nav>
          <div>
            <img src="/images/logo-flat.png" alt="PlantIQ Logo" class="h-10">
            <a href="/">Home</a>
            <a href="/plants">Plants</a>
            <a href="/plants/create">Create New Plant</a>
          </div>
          <div>
            {{#if currentUser}}
            <div id="logged-in-nav">
              <a href="/auth/user-profile">{{currentUser.username}}</a>
              <form id="logout-form" action="/auth/logout" method="POST">
                <button>Logout</button>
              </form>
            </div>
            {{else}}
            <a href="/auth/login">Login</a>
            <a href="/auth/signup">Sign up</a>
            {{/if}}
          </div>
        </nav>

  <body>
    
    {{{body}}}

    <script src="/js/script.js"></script>
  </body>

</html>
