@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00b7ff;
}

h1 {
    color: 15px;
}
.small-preview {
    max-height: 150px;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1rem;
    margin-bottom: 3rem;
}

nav a {
    padding: 0 1rem;
    text-decoration: none;
}

#logged-in-nav {
    display: flex;
    flex-direction: row;
}
