<div class="flex justify-center items-center w-auto h-auto">
	<img src="/images/sick-plant.gif" alt="Image Description" class="w-auto h-auto">
</div>

<div class="flex justify-center items-center h-screen">
	<h1 class="text-4xl md:text-5xl lg:text-6xl text-center w-70 line-height-10">{{response}}</h1>
</div>