
<div class="flex flex-wrap justify-center h-1/3 gap-10 m-5" id="method-select">
<button id="btn-AI-recon" onclick="showForm()" class="h-full">
    <img src="/images/search-with-AI.png" alt="Search with AI card" class="h-full">
</button>

<button id="btn-search-manual" onclick="showSearch()" class="h-full">
    <img src="/images/search-manual.png" alt="Seach manually card" class="h-full">
</button>
    
    
</div>



<form action="/plants/create" method="post" enctype="multipart/form-data" id="form-AI" class="hidden">
    <div class="min-h-max p-6 bg-green-50 flex items-center justify-center">
        <div class="container max-w-screen-lg mx-auto">
            <div>
                <h2 class="font-semibold text-2xl text-gray-600">Connect with a new plant</h2>
                <br>
                {{!-- <p class="text-gray-500 mb-6">Form is mobile responsive. Give it a try.</p> --}}

                <div class="bg-white rounded shadow-lg p-4 px-4 md:p-8 mb-6">
                    <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 lg:grid-cols-3">
                        <div class="text-gray-600">
                            <p class="font-medium text-lg">Plant Details</p>
                            <p>Please fill out all the fields.</p>
                        </div>

                        <div class="lg:col-span-2">
                            <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 md:grid-cols-5">
                                <div class="md:col-span-5">
                                    <label for="name">Name</label>
                                    <input type="text" name="name" id="name"
                                        class="h-10 border mt-1 rounded px-4 w-full bg-gray-50" value="" />
                                </div>

                                <div class="hidden">
                                    <label for="registrationDate">Registration date</label>
                                    <input type="date" name="registrationDate" id="registrationDate"/>
                                </div>

                                <label>Image:
                                    <input type="file" name="picture" class="" />
                                </label>
                                
                                <div class="md:col-span-5 text-right">
                                    <div class="inline-flex items-end">
                                        <button
                                            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" onclick="waitingScreen() ">Submit</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<form action="/search" method="get" id="form-manual-search" class="hidden">   
    <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
    <div class="relative">
        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
            </svg>
        </div>
        <input type="text" name="query"id="default-search" class="block w-full p-4 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search for a plant" required>
        <button type="submit" class="text-white absolute right-2.5 bottom-2.5 bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Search</button>
    </div>
</form>

<div class=" flex flex-col items-center justify-center h-1/3 gap-10 m-10 hidden" id="waiting-screen">
    <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900">Establishing connection with your plant...</h1>
    <img src="/images/connecting.gif" alt="" class="h-full w-auto">
</div>

<script>
    var myDate = document.getElementById('registrationDate');
    var today = new Date();
    myDate.value = today.toISOString().substr(0, 10);

    function showForm() {
        let form = document.getElementById("form-AI");
        form.classList.toggle("hidden");
        let blabla = document.getElementById("method-select");
        blabla.classList.toggle("hidden");
    }

        function waitingScreen() {
        let form = document.getElementById("form-AI");
        form.classList.toggle("hidden");
        let blabla = document.getElementById("waiting-screen");
        blabla.classList.toggle("hidden");
    }

        function showSearch() {
        let form = document.getElementById("form-manual-search");
        form.classList.toggle("hidden");
        let blabla = document.getElementById("method-select");
        blabla.classList.toggle("hidden");
    }



</script>