<form action="/plants/create" method="POST" enctype="multipart/form-data">
    <h2>Create a New Plant</h2>
    <label for="picture">Plant Image:</label>
    <input type="file" id="picture" name="picture" accept="image/*" required>
    <button type="submit">Create Plant</button>
</form>

<form action="/plants/create" method="post" enctype="multipart/form-data">
    <div class="min-h-screen p-6 bg-blue-50 flex items-center justify-center">
        <div class="container max-w-screen-lg mx-auto">
            <div>
                <h2 class="font-semibold text-2xl text-gray-600">Connect with a new plant</h2>
                <br>
                {{!-- <p class="text-gray-500 mb-6">Form is mobile responsive. Give it a try.</p> --}}

                <div class="bg-white rounded shadow-lg p-4 px-4 md:p-8 mb-6">
                    <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 lg:grid-cols-3">
                        <div class="text-gray-600">
                            <p class="font-medium text-lg">Plant Details</p>
                            <p>Please fill out all the fields.</p>
                        </div>

                        <div class="lg:col-span-2">
                            <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 md:grid-cols-5">
                                <div class="md:col-span-5">
                                    <label for="name">Name</label>
                                    <input type="text" name="name" id="name"
                                        class="h-10 border mt-1 rounded px-4 w-full bg-gray-50" value="" />
                                </div>

                                <div class="md:col-span-5">
                                    <label for="registrationDate">Registration date</label>
                                    <input type="date" name="registrationDate" id="registrationDate"
                                        class="h-10 border mt-1 rounded px-4 w-full bg-gray-50" />
                                </div>

                                <label>Image:
                                    <input type="file" name="picture" class="" />
                                </label>
                                
                                <div class="md:col-span-5 text-right">
                                    <div class="inline-flex items-end">
                                        <button
                                            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Submit</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{{!-- 
<script src="/public/js/client.js"></script> --}}

<script>
    var myDate = document.getElementById('registrationDate');
    var today = new Date();
    myDate.value = today.toISOString().substr(0, 10);
</script>