<div class="flex justify-center items-center w-auto h-auto">
	<img src="/images/sick-plant.gif" alt="Image Description" class="w-auto h-auto">
</div>

<h1 class="text-4xl md:text-5xl lg:text-6xl text-center mt-5 mb-5">Your Doctor's Advice</h1>
<div class="flex justify-center items-center mt-10 mb-10">
	<br />
	<h1 class="text-4xl md:text-5xl lg:text-6xl text-center w-3/4 leading-relaxed">{{response}}</h1>
</div>