<form action="/plants/knowyourplant" method="POST" enctype="multipart/form-data">
	<h2>Find your Plant</h2>
	<label for="picture">Plant Image:</label>
    <input type="file" id="picture" name="picture" accept="image/*" capture="user" required>
	<button type="submit">Find Plant</button>
</form>